html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    text-align: center;
    }


header{
    background-image: url(../img/headder.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
} 

@media only screen and  (max-width: 700px){
    header{
        background-image: url(../img/headdermobi.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
    } 
}

#profile{
    width: 350px;
}

#long-version{
    display: none;
}
